@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 346.8 77.2% 49.8%; 
    --primary-foreground: 355.7 100% 97.3%;
 
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14.3% 34.1%;
 
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 13% 91%;
    --accent-foreground: 220 14.3% 34.1%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 346.8 77.2% 49.8%;
 
    --radius: 0.75rem; 
  }

  .dark {
    --background: 222.2222 47.3684% 11.1765%;
    --foreground: 210.0000 40.0000% 98.0392%;
    --card: 222.2222 47.3684% 11.1765%;
    --card-foreground: 210.0000 40.0000% 98.0392%;
    --popover: 222.2222 47.3684% 11.1765%;
    --popover-foreground: 210.0000 40.0000% 98.0392%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2414 32.5843% 17.4510%;
    --secondary-foreground: 210.0000 40.0000% 98.0392%;
    --muted: 217.2414 32.5843% 17.4510%;
    --muted-foreground: 215.0000 20.2247% 65.0980%;
    --accent: 217.2414 32.5843% 17.4510%;
    --accent-foreground: 210.0000 40.0000% 98.0392%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 210.0000 40.0000% 98.0392%;
    --border: 217.2414 32.5843% 17.4510%;
    --input: 217.2414 32.5843% 17.4510%;
    --ring: 217.2193 91.2195% 59.8039%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  /* h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  } */
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}